#**Recomendación tipo de cultivo**

Generaremos un modelo de máquina de soporte vectorial SVM para recomendar un tipo de cultivo dependiendo de la información del suelo y ambiental. El modelo luego se pondrá en producción usando google cloud y streamlit.

## **Dataset:**

El dataset usado se denomina "Crop Recommendation Dataset" y se encuentra público en kaggle. Puedes encontrarlo en el siguiente enlace:

[Dataset Kaggle](https://www.kaggle.com/atharvaingle/crop-recommendation-dataset?select=Crop_recommendation.csv)

## **Variables independientes:**

*   Nitrógeno
*   Fósforo
*   Potasio
*   Temperatura
*   Humedad
*   pH
*   Lluvia

# 1. Instalación scikit-learn

In [1]:
!pip install scikit-learn==0.24.1

Collecting scikit-learn==0.24.1
  Downloading https://files.pythonhosted.org/packages/f3/74/eb899f41d55f957e2591cde5528e75871f817d9fb46d4732423ecaca736d/scikit_learn-0.24.1-cp37-cp37m-manylinux2010_x86_64.whl (22.3MB)
     |████████████████████████████████| 22.3MB 136kB/s
Collecting threadpoolctl>=2.0.0
  Downloading https://files.pythonhosted.org/packages/f7/12/ec3f2e203afa394a149911729357aa48affc59c20e2c1c8297a60f33f133/threadpoolctl-2.1.0-py3-none-any.whl
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.1) (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.1) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.1) (1.0.1)
Installing collected packages: threadpoolctl, scikit-learn
  Found existing installation: scikit-learn 0.22.2.post1
    Uninstalling scikit-learn-0.22.2.post1:
      Successfully uninstalled scikit-learn-0.22.2.post1
Successfully installed scikit-learn-0.24.1 threadpoolctl-2.1.0

# 2. Importamos librerias

In [2]:
import numpy as np
from sklearn import svm
import pandas as pd
import pickle
from sklearn.model_selection import train_test_split
import sklearn
sklearn.__version__

'0.24.1'

In [3]:
!python3 --version

Python 3.7.10

# 3. Cargamos dataset

In [4]:
df= pd.read_csv("/content/Crop_recommendation.csv")
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [5]:
df.describe()

                 N            P  ...           ph     rainfall
count  2200.000000  2200.000000  ...  2200.000000  2200.000000
mean     50.551818    53.362727  ...     6.469480   103.463655
std      36.917334    32.985883  ...     0.773938    54.958389
min       0.000000     5.000000  ...     3.504752    20.211267
25%      21.000000    28.000000  ...     5.971693    64.551686
50%      37.000000    51.000000  ...     6.425045    94.867624
75%      84.250000    68.000000  ...     6.923643   124.267508
max     140.000000   145.000000  ...     9.935091   298.560117

[8 rows x 7 columns]

In [6]:
# Obtenemos variables independientes
X = df.drop(["label"],axis = 1)
X.head()

    N   P   K  temperature   humidity        ph    rainfall
0  90  42  43    20.879744  82.002744  6.502985  202.935536
1  85  58  41    21.770462  80.319644  7.038096  226.655537
2  60  55  44    23.004459  82.320763  7.840207  263.964248
3  74  35  40    26.491096  80.158363  6.980401  242.864034
4  78  42  42    20.130175  81.604873  7.628473  262.717340

In [7]:
# Obtenemos variable dependiente
Y = df.pop('label')
Y

0         rice
1         rice
2         rice
3         rice
4         rice
         ...
2195    coffee
2196    coffee
2197    coffee
2198    coffee
2199    coffee
Name: label, Length: 2200, dtype: object

In [9]:
# Separamos datos para ajuste y prueba
X_train, X_test, y_train, y_test = train_test_split(X, Y, train_size=0.8, test_size=0.2, random_state=100)

# 4. Ajuste del modelo SVM

In [13]:
# Creamos el modelo SVM para clasificacion con kernel lineal/rbf y entrenamos el modelo
model = svm.SVC(kernel='linear', C=100).fit(X_train, y_train)

In [ ]:
# Grabamos el modelo en el directorio
pkl_filename = "pickle_model.pkl"
with open(pkl_filename, 'wb') as file:
    pickle.dump(model, file)

In [ ]:
# Cargamos el modelo
pkl_filename = "pickle_model.pkl"
with open(pkl_filename, 'rb') as file:
    model = pickle.load(file)

# 5. Desempeño del modelo

In [14]:
# Encontramos el accuracy promedio usando datos de test
score = model.score(X_test, y_test)
print(score)

0.9931818181818182

# 6. Probamos con una muestra nueva

In [15]:
x_in = np.asarray([90, 42 ,50, 20.8,80,6,200]).reshape(1,-1)
predicts = model.predict(x_in)
predicts[0]

'rice'